.header
  background: transparentize($white, 0.2)
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 10
  
  
  &__container
    +container
    position: relative
    display: flex
    align-items: center
    height: 70px

  &__relative
    position: relative
    width: 100%
  
  &__panel
    display: flex
    width: 100%
    +PC_MIN
      display: flex
      align-items: center