.news
  margin: 40px 0
  
  +font(size 36px)
  
  &__container
    +container
  
  &__row
    +clearfix
  
  &__titleMain
    margin-bottom: 40px
  
  &__row
    display: flex
    +PHONE_ONLY
      flex-wrap: wrap
  
  &__info
    text-align: left
    padding: 20px 0
    width: 100%
    +TAB_MIN
      width: 25%
      padding: 20px 20px 20px 0
  
  &__titleInfo
    +font(size 30px weight 300)
    color: $gray
    border-bottom: 5px solid $blue
    padding-bottom: 10px
  
  &__slider
    width: 100%
    +TAB_MIN
      width: 75%
  
  &__item
    position: relative
    overflow: hidden
    height: 340px
    background: $white
    +TAB_MIN
      margin-left: 20px
      &:hover
        .news__arrow
          transform: translateX(-100%)
      
  &__img
    background-position: center center
    background-size: cover
    height: 175px
    
  &__imgTitle
    +font(size 20px)
    margin-top: 10px
    
  &__imgDate
    +font(size 12px)
    color: lighten($gray, 30%)
    margin-bottom: 10px
    
  &__imgText
    +font(size 15px)
    line-height: 1.2
    border-top: 1px solid $yellow
    padding-top: 10px
    
  &__arrow
    position: absolute
    bottom: 0
    right: 0
    transform: translateX(0)
    transition: 0.5s ease all