.news
  .news__container
    .news__row
      .news__titleMain
        include ../title/title-main

    .news__row
      .news__info
        .news__titleInfo LOREM IPSUM <strong>DOLOR:</strong>

      .news__slider
        - for(var i = 1; i <= 6; i++)
          - var itemStyle = 'background-image: url('+ imgDir +'news1.jpg)';
          - var itemArrow = imgDir +'newsArrow.png';
          a.news__item(href='pageBlog.html')
            .news__img(style=itemStyle)
            .news__imgTitle Master of the masters
            .news__imgDate 10 kwiecień 2016
            .news__imgText
              +lorem(14)
            img.news__arrow(src=itemArrow alt='icon1')
