.article
  .article__slider
    - for(var i = 1; i <= 3; i++)
      - var itemStyle = 'background-image: url('+ imgDir +'article__img-'+ i +'.jpg)';
      .article__sliderImg(style=itemStyle)

  .article__titleMain
    include ../title/title-main

    .article__date 10 kwiecień 2016

  .article__content
    +lorem(100)
    br
    br
    +lorem(80)
    br
    br
    +lorem(110)