.article
  
  &__content
    +font(weight 300)
  
  &__slider
    margin-bottom: 30px
  
  &__sliderImg
    background-position: center
    background-size: cover
    display: block
    width: 100%
    height: 400px
  
  &__titleMain
    position: relative
    padding-bottom: 5px
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 250px
      height: 2px
      background: $yellow
  
  &__date
    +font(size 15px)
    color: lighten($gray, 30%)
    margin-bottom: 10px
  
  &__content
    margin-top: 30px