.aside
  .aside__row
    include ../download/download

  .aside__row
    - for(var i = 1; i <= 2; i++)
      - var itemSrc = imgDir + 'aside__img-' + i + '.jpg';
      img.aside__banner(src=itemSrc alt='aside')