.download
  &__titleBox, &__title
    position: relative
    
  &__titleBox
    margin-bottom: 40px
    z-index: 1
    &:before
      content: ''
      height: 4px
      position: absolute
      top: calc(50% - 2px)
      width: 100%
      background: $blue
      
  &__title
    +font(size 29px weight 300)
    display: inline-block
    padding: 0 10px
    z-index: 2
    background: $white
    
  &__item
    position: relative
    display: flex
    width: 100%
    align-items: center
    margin-bottom: 5px
    &:hover
      i
        color: $yellow
      .download__img
        background: $yellow
    
  &__imgBox
    i
      +font(size 30px)
      position: absolute
      right: 0
      top: calc(50% - 15px)
      color: $blue
  
  &__text
    margin: 5px 10px
  
  &__img
    padding: 10px
    display: block
    background: $blue
    