.download
  .download__titleBox
    .download__title DO POBRANIA

  - for(var i = 1; i <= 6; i++)
    - var imgSrc = imgDir + 'download__img-1.png';
    a.download__item(href="#")
      .download__imgBox
        img.download__img(src=imgSrc alt='download')
      .download__text
        +lorem(2)
      .download__imgBox
        i.fa.fa-angle-right