body
  +fontLato
  font-size: 16px
  line-height: 1.2
  color: $gray
  
a
  color: inherit
  text-decoration: none
  
strong
  +font(weight 700)

input, textarea, button
  margin: 0

*::selection
  background-color: $yellow
  color: $blue

  



