.brands#brands
  .brands__container
    .brands__titleMain
      include ../title/title-main

    .brands__slider
      - for(var i = 1; i <= 6; i++)
        - var itemStyle = 'background-image: url('+ imgDir +'brands__img-1.jpg)'
        .brands__item(style=itemStyle)

          .brands__box
            .brands__titleItem
              include ../title/title-brands

            .brands__textBox
              .brands__text
                +lorem(20)

            .brands__button
              include ../button/button-brands

          .brands__background