.brands
  padding: 30px 0
  +PC_MIN
    padding: 40px 0
  
  +font(size 36px)
  color: white
  
  &__container
    +container
  
  &__titleMain
    margin-bottom: 40px
  
  &__box
    position: relative
    width: 100%
    height: 100%
  
  &__item
    overflow: hidden
    position: relative
    background-position: center center
    background-size: cover
    height: 350px
    padding: 15px
    &:hover
      .brands__titleItem
        transform: translateX(-120%)
      .brands__text
        transform: translateY(0)
        opacity: 1
      .brands__background
        transform: translateY(0)
      .brands__button
        transform: translateX(0)
  
  &__titleItem
    position: absolute
    bottom: 0
    left: 0
    transition: 0.5s ease all
    transform: translateX(0)
  
  &__textBox
    +flex-center
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
  
  &__text
    +font(size 17px)
    transform: translateY(90%)
    opacity: 0
    transition: 0.5s ease all
    line-height: 1.6
  
  &__background
    transform: translateY(100%)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: transparentize($blue, 0.1)
    transition: 0.5s ease all
  
  &__button
    position: absolute
    bottom: 0
    right: 0
    transition: 0.5s ease all
    transform: translateX(120%)
    z-index: 1
  