.find#find
  .find__container
    .find__row
      .find__column
        .find__titleBox
          .find__title NASZA BAZA <strong>ZNAJDZIESZ TU:</strong>
            - var itemSrc = imgDir + 'find__arrow.png';
            - var itemAlt = 'titleImg';
          img.find__titleImg(src=itemSrc alt=itemAlt)

      - for(var i = 1; i <= 3; i++)
        - var itemSrc = imgDir + 'find__img-' + i +'.png';
        - var itemAlt = 'find' + i;
        .find__column
          .find__itemLink SZKOLENIA
          .find__imgBox
            img.find__itemImg(src=itemSrc alt=itemAlt)
          .find__itemText
            +lorem(8)