.find
  text-align: center
  color: $white
  position: relative
  z-index: 1
  margin-top: -70px
  
  &__container
    +container
  
  &__row
    display: flex
    +TAB_MAX
      flex-wrap: wrap
  
  &__column
    +flex-stretch
    height: 260px
    width: 100%
    justify-content: space-between
    flex-direction: column
    &:nth-child(1)
      background: $grayLight
      flex-direction: row
    &:nth-child(2)
      background: lighten($blue, 3%)
    &:nth-child(3)
      background: lighten($blue, 12%)
    &:nth-child(4)
      background: lighten($blue, 18%)
    +TAB_MIN
      width: 50%
    +PC_MIN
      width: 25%
  
  &__titleBox
    position: relative
    align-self: flex-end
    text-align: left
    padding: 20px
  
  &__title
    +font(size 30px weight 300)
    color: $gray
    border-bottom: 5px solid $blue
    padding-bottom: 10px
    margin-bottom: 40px
    
  &__titleImg
    position: absolute
    bottom: 15px
    right: 20px
  
  &__itemLink
    +font(size 30px)
    line-height: 1
    padding: 20px
  
  &__itemText
    padding: 10px
    
    