extends ../layout/body

block headScripts

block content
  include ../components/banner/banner-main
  include ../components/find/find
  include ../components/brands/brands
  include ../components/offer/offer-main
  include ../components/map/map
