extends ../layout/body

block headScripts

block content

  include ../components/banner/banner-main
  include ../components/find/find
  include ../components/news/news
  include ../components/offer/offer-main
  include ../components/map/map
