.banner
  
  &__container
    +container
  
  &__item
    position: relative
    .-main &
      height: 100vh
    .-pages &
      height: 350px
      +PC_MIN
        height: 500px
  
  &__headerBox
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    