- var itemStyle = 'background-image: url('+ imgDir +'banner__img-1.jpg)'

.banner.-pages.parallax(style=itemStyle)
  .banner__container
    .banner__item
      .banner__headerBox
        include ../title/title-banner

