- var itemStyle = 'background-image: url('+ imgDir +'banner__img-1.jpg)'

.banner.-main.fullWindow.parallax(style=itemStyle)
  .banner__container
    .banner__slider
      - for(var i = 1; i <= 3; i++)
        .banner__item
          .banner__headerBox
            include ../title/title-banner