.text
  background: $white
  padding: 30px 0
  +PC_MIN
    padding: 70px 0
  
  &__container
    +container
  
  &__row
    +clearfix
    display: flex
    +PHONE_ONLY
      flex-direction: column
  
  &__column
    +PHONE_ONLY
      &.-big
        padding-bottom: 40px
    
    +TAB_MIN
      &.-big
        width: 60%
        padding-right: 15px
      &.-small
        width: 40%
        padding-left: 15px
    
    +PC_MIN
      &.-big
        width: 70%
        padding-right: 35px
      &.-small
        width: 30%
        padding-left: 35px