- var itemSrc = imgDir + 'footer__logo.png';

.footer
  .footer__container
    .footer__flex
      .footer__item
        a.footer__link(href='pageList.html')
          img.footer__logo(src=itemSrc alt='footer__logo')

      .footer__item
        .footer__copyrights ® Copyrights 2016 by <span>Baza Tałty</span>