.footer
  background: $white
  padding: 25px 0
  
  &__container
    +container
    
  &__flex
    display: flex
    +TAB_MIN
      align-items: center
      justify-content: space-between
    +PHONE_ONLY
      flex-direction: column
  
  &__link
    display: inline
    &:hover
      color: $yellow
      
  &__logo
    display: inline-block
      
  &__copyrights
    +PHONE_ONLY
      margin-top: 10px
    span
      +font(weight 700)