.offer#offer
  .offer__container

    - for(var i = 1; i <= 3; i++)
      -  var itemClass = i % 2 == 0 ? '-right': '-left';
      -  var itemClass2 = i % 2 == 0 ? '-left': '-right';
      .offer__item
        .offer__column(class=itemClass)
          .offer__slider
            - for(var j = 1; j <= 3; j++)
              - var itemStyle = 'background-image: url("' + imgDir + 'offer' + j +'.jpg")';
              .offer__slide(style=itemStyle)

        .offer__column(class=itemClass2)
          .offer__title
            include ../title/title-offer
          .offer__content
            +lorem(60)
            .offer__contentHeader Nie ważne co trenujecie - czekamy na Was!

          .offer__button
            include ../button/button-link
          .offer__dots

