.offer
  
  &__container
    +container
  
  &__item
    display: flex
    margin: 25px 0
    +TAB_MAX
      flex-direction: column
    +PC_MIN
      &:nth-child(2)
        flex-direction: row-reverse
  
  &__column
    position: relative
    +PC_MIN
      width: 50%
      &.-right
        margin-left: 15px
      &.-left
        margin-right: 15px
  
  &__slide
    background-position: center
    background-size: cover
    display: block
    width: 100%
    height: 450px
  
  &__title
    width: 100%
    margin: 20px 0
    +PC_MIN
      margin: 30px 0
  
  &__content
    +font(weight 300)
    
  &__contentHeader
    +font(weight 700)
    margin: 10px 0
  
  &__button
    +TAB_MAX
      text-align: center
      margin-top: 20px
    +PC_MIN
      position: absolute
      bottom: 40px
      left: 50%
      transform: translateX(-50%)
  
  &__dots
    width: 100%
    text-align: center
    +TAB_MAX
      margin-top: 10px
    +PC_MIN
      position: absolute
      bottom: 0
    
  .slick-dots
    display: inline
    li
      display: inline
    .slick-active
      .slick-dot
        background: $yellow
    .slick-dot
      display: inline-block
      height: 13px
      width: 13px
      border: 1px solid $yellow
      border-radius: 50%
      margin: 0 4px
      