.button
  +font(size 20px)
  +flex-center
  display: inline-flex
  height: 40px
  min-width: 150px
  background: transparent
  border: 1px solid $yellow
  color: $yellow
  padding: 0 10px
  position: relative
  z-index: 2
  overflow: hidden
  cursor: pointer
  &:after
    transition: 0.4s ease all
    content: ''
    position: absolute
    left: -105%
    top: 0
    opacity: 0
    width: 100%
    height: 100%
    background: $yellow
    z-index: -1
  &:hover
    color: $white
    &:after
      left: 0
      opacity: 1
      
  &.-brands
    border: 1px solid $white
    color: $white
    
  &__img
    margin-left: 20px