.title
  
  &.-banner
    +font(size 60px * 0.7)
    color: $white
    +PC_MIN
      +font(size 60px)
    > .title__line
      padding: 5px
      line-height: 1
      display: inline-block
      margin-top: 5px
      background: $blue
      &:first-child
        margin-top: 0
        background: $yellow
  
  &.-brands
    +font(size 18px)
    > .title__line
      padding: 5px
      line-height: 1
      display: inline-block
      margin-top: 5px
      background: $yellow
  
  &.-main
    +font(weight 700)
    +font(size 36px * 0.7)
    text-align: left
    color: $blue
    +PC_MIN
      +font(size 36px)
  
  &.-offer
    @extend .-main
  
  &__img
    margin-left: 20px
      
    