.menu
  .menu__button
    i.fa.fa-bars

  .menu__background

  ul.menu__list.-main
    li.menu__item
      a.menu__link(href='#find') FIND
    li.menu__item
      a.menu__link(href='#brands') BRANDS
    li.menu__item
      a.menu__link(href='#offer') OFFER
    li.menu__item
      a.menu__link(href='news.html') NEWS
