.menu
  +clearfix
  position: relative
  display: flex
  z-index: 1000
  text-align: center
  +TAB_MAX
    width: 100%
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: white
    display: none
    z-index: 1000
  
  &__button
    position: fixed
    right: 20px
    top: 10px
    background-color: black
    color: white
    font-size: 18px
    cursor: pointer
    padding: 10px 15px
    +TAB_MAX
      font-size: 24px
    +PC_MIN
      display: none
  
  &__list
    +clearfix
    position: relative
    display: inline-block
    text-align: left
    +PC_MIN
      display: block !important
    
    &.-main
      +TAB_MAX
        position: fixed
        top: 50%
        left: 50%
        display: none
        z-index: 9001
        max-height: 70vh
        overflow-y: scroll
        transform: translate(-50%, -50%)
        background-color: $grayLight
  
  &__item
    display: block
    position: relative
    
    .menu__list.-main &
      float: left
      +TAB_MAX
        float: none
  
  &__link
    display: block
    white-space: nowrap
    cursor: pointer
    color: black
    font-size: 17px
    +TAB_MAX
      padding: 20px 70px
      text-align: center
      &:hover
        background: $yellow
    +PC_MIN
      margin-left: 20px
      &:hover
        color: $blue