script.
  var mapLat = 53.8387988;
  var mapLng = 21.5692204;
  var mapZoom = 12;

  window.onload = function () {
    map.init(mapLat, mapLng, mapZoom);
  }

#map
  #map__container
    #map__canvas
    #map__marker
      #map__title BAZA TAŁTY
      #map__text
        +lorem(4)
        br
        +lorem(5)
        br
        +lorem(3)