#map
  
  &__container
    +container
  
  &__canvas
    width: 100%
    height: 300px
    +PC_MIN
      height: 430px
  
  &__marker
    width: 160px
    padding: 10px
    text-align: center
    background: $white
    border: 10px solid $blue
    position: absolute
    transform: translate(-50%, -120px)
    &:after
      content: ''
      width: 0
      height: 0
      border-left: 15px solid transparent
      border-right: 15px solid transparent
      border-top: 15px solid $blue
      position: absolute
      bottom: -20px
      left: 50%
      transform: translate(-50%, 0)
  
  &__title
    +font(size 11px)
    padding-bottom: 5px
    margin-bottom: 5px
    border-bottom: 1px solid $yellow
  
  &__text
    +font(size 9px)