﻿
head
  title= title

  meta(charset='utf-8')
  meta(name='title' content=title)
  meta(name='description' content=title)
  meta(name='keywords' content=title)
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')

  block style
    <!-- build:css #{cssLib} -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css #{cssProd} -->
    link(rel='stylesheet' href=cssDev)
    <!-- endbuild -->

  block headScripts